<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/icon-image.svg" type="image/jpg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/quiz-identificacao-avc.css">
    
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    
    <title>Dia Mundial do AVC</title>
</head>
<body>
    <div id="bgDisplay"></div>

    <div id="container">
        <div class="card mt-4 overflow-hidden shadow-sm" id="index-header-image">
            <img src="/static/images/identificacao-avc-banner.svg" class="rounded" id="quiz-start-image">
        </div>

        <div class="card mt-4 overflow-hidden shadow-sm" id="container-card">
            <div class="card-header">
                <h1 class="card-title fs-2">Dia Mundial do AVC</h1>
                <p class="card-text fs-6 text-secondary">O Acidente Vascular Cerebral (AVC) é uma emergência médica que pode atingir qualquer pessoa, em qualquer momento. Saber reconhecer os fatores de risco e os sinais de um possível AVC é essencial para salvar vidas. Este quiz foi criado especialmente para aumentar a conscientização sobre o AVC, ajudar na identificação de possíveis riscos e educar sobre a importância de agir rapidamente. </p>
            </div>

            <div class="card-body">
                <h1 class="card-title fs-3 mt-1">Identificação de uma Suspeita de AVC</h1>
                <p class="card-text fs-6 text-secondary">Nesta etapa, vamos verificar o seu conhecimento sobre os principais sinais e sintomas que indicam uma possível ocorrência de AVC. Reconhecer rapidamente esses sinais pode fazer toda a diferença na hora de buscar ajuda e garantir um tratamento eficaz. As perguntas a seguir vão ajudar a identificar se você sabe reconhecer uma suspeita de AVC.</p>   
                
                <form id="identificacao-avc-form" action="/identificacao-avc" method="POST">
                    <div class="form-group mt-4">
                        <h1 class="card-title fs-4 mt-1">Homem, 68 anos, com pressão alta e diabetes, estava no bar com os amigos bebendo cerveja, quando subitamente às 20:30 apresentou fraqueza do lado direito do corpo, a boca entortou. Os amigos tentaram ajudá-lo, mas não conseguiam entender o que ele falava.</h1>
                        <input type="radio" id="fator-1-sim" name="fator-1" value="sim" required>
                        <label for="fator-1-sim">Sim, é uma suspeita de AVC.</label>
                        <input type="radio" id="fator-1-nao" name="fator-1" value="nao">
                        <label for="fator-1-nao">Não é uma suspeita de AVC.</label>
                    </div>

                    <div class="form-group mt-4">
                        <h1 class="card-title fs-4 mt-1">Mulher, 27 anos, com dor de cabeça forte, começa a ter formigamento no corpo todo de forma lenta e progressiva, além de fraqueza nas duas pernas, após receber notícia ruim. Ela consegue andar com apoio, apresentando ainda semblante de preocupada e palidez no rosto.</h1>
                        <input type="radio" id="fator-2-sim" name="fator-2" value="sim" required>
                        <label for="fator-2-sim">Sim, é uma suspeita de AVC.</label>
                        <input type="radio" id="fator-2-nao" name="fator-2" value="nao">
                        <label for="fator-2-nao">Não é uma suspeita de AVC.</label>
                    </div>

                    <div class="form-group mt-4">
                        <h1 class="card-title fs-4 mt-1">Mulher, 54 anos, com pressão alta em uso de medicações, estava na cozinha fazendo a comida do almoço, quando subitamente diz não conseguir enxergar as coisas do lado direito, apresentando ainda dificuldade para andar por incoordenação, como se estivesse bêbada (mas não ingeriu bebida alcoólica).</h1>
                        <input type="radio" id="fator-3-sim" name="fator-3" value="sim" required>
                        <label for="fator-3-sim">Sim, é uma suspeita de AVC.</label>
                        <input type="radio" id="fator-3-nao" name="fator-3" value="nao">
                        <label for="fator-3-nao">Não é uma suspeita de AVC.</label>
                    </div>

                    <div class="form-group mt-4">
                        <h1 class="card-title fs-4 mt-1">Homem, 84 anos, com arritmia e coração grande, foi dormir mantendo seu quadro de saúde estável, mas acordou de madrugada para ir ao banheiro e caiu para o lado esquerdo ao tentar levantar da cama. Quando foi encontrado pela filha após a queda, estava confuso, sem conseguir entender o que aconteceu, mas conseguia entender o que a filha falava e respondia de forma correta, ainda que com a voz arrastada. Ao tentar levantar, nota que a perna esquerda está fraca e não consegue mexer adequadamente o braço esquerdo.</h1>
                        <input type="radio" id="fator-4-sim" name="fator-4" value="sim" required>
                        <label for="fator-4-sim">Sim, é uma suspeita de AVC.</label>
                        <input type="radio" id="fator-4-nao" name="fator-4" value="nao">
                        <label for="fator-4-nao">Não é uma suspeita de AVC.</label>
                    </div>

                    <div class="form-group mt-4">
                        <h1 class="card-title fs-4 mt-1">Homem, 49 anos, sem história de ter doenças ou de tomar remédios, estava trabalhando carregando objetos pesados, quando subitamente começa a ter uma forte dor no pescoço e logo apresenta fraqueza dos dois braços e das duas pernas com formigamento. Não apresenta alterações no rosto ou na fala, mas não consegue falar direito, repetindo apenas que “está com muita dor”.</h1>
                        <input type="radio" id="fator-5-sim" name="fator-5" value="sim" required>
                        <label for="fator-5-sim">Sim, é uma suspeita de AVC.</label>
                        <input type="radio" id="fator-5-nao" name="fator-5" value="nao">
                        <label for="fator-5-nao">Não é uma suspeita de AVC.</label>
                    </div>
                </form>
            </div>
        </div>

        <div class="d-flex justify-content-between mt-4 mb-4" id="container-buttons">
            <button class="btn btn-outline-secondary mybtn" id="previous-btn">Anterior</button>
            <button class="btn btn-primary mybtn" id="next-btn">Próximo</button>
        </div>
    </div>

    <script>
        $(document).ready(function () { 
            $('#previous-btn').click(function(e){
                e.preventDefault();
                window.location.href = '/resultado-fatores-risco'
            })

            $('#next-btn').click(function (e) { 
                e.preventDefault();

                var valid = true;
                $('.error-message').remove();

                if(!$("input[name='fator-1']:checked").val()){
                    $("input[name='fator-1']").parent().after('<span class="error-message text-danger">Por favor, selecione uma opção.</span>')
                    valid = false
                }

                if(!$("input[name='fator-2']:checked").val()){
                    $("input[name='fator-2']").parent().after('<span class="error-message text-danger">Por favor, selecione uma opção.</span>')
                    valid = false
                }

                if(!$("input[name='fator-3']:checked").val()){
                    $("input[name='fator-3']").parent().after('<span class="error-message text-danger">Por favor, selecione uma opção.</span>')
                    valid = false
                }

                if(!$("input[name='fator-4']:checked").val()){
                    $("input[name='fator-4']").parent().after('<span class="error-message text-danger">Por favor, selecione uma opção.</span>')
                    valid = false
                }

                if(!$("input[name='fator-5']:checked").val()){
                    $("input[name='fator-5']").parent().after('<span class="error-message text-danger">Por favor, selecione uma opção.</span>')
                    valid = false
                }

                if(valid) {
                    $("#identificacao-avc-form").submit();
                }

             })
         })
    </script>

</body>
</html>